
  
  img {
    max-width: 100%;
    height: 310px;
  }

  body {background-color: rgb(156, 128, 91);}

  .YichaoTitle {
    text-align:center;
    color: black;
  }

  /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #3dc4ce;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}


/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #7b04aa;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
      float: left;
    }
  div.content {margin-left: 0;}
}


a {
    font-size: small;
}

h2{
    font-size: 1.15rem;
    font-weight: bold;
}