<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Favorite Movie Website</title>
    <link rel="stylesheet" href="/public/css/styles.min.css">
</head>

<body>

<h1 class="YichaoTitle">Yichao's Favorite 10 Movies</h1>

<div class="container">



<nav class="sidebar">
               <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#link2HCH0001"> 1. BATMAN BEGINS </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#link2HCH0002"> 2. THE DARK KNIGHT </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#link2HCH0003"> 3. THE DARK KNIGHT RISES </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#link2HCH0004"> 4. IRON MAN </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#link2HCH0005"> 5. IRON MAN 2 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#link2HCH0006"> 6. IRON MAN 3 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#link2HCH0007"> 7. THE BOURNE IDENTITY </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#link2HCH0008"> 8. THE BOURNE SUPREMACY </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#link2HCH0009"> 9. THE BOURNE ULTIMATUM </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#link2HCH00010"> 10. JASON BOURNE </a>
  </li>
                </ul>
</nav>


<div class="content">

 <div class="row">
  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="card">
      <a id="link2HCH0001"> Director: Christopher Nolan</a>
      <img class="largeMoviePoster" src="public/minImages/bat_man_1.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">BATMAN BEGINS</h2>
        <p class="card-text">After training with his mentor, Batman begins his fight to free crime-ridden Gotham City from corruption.</p>
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_1">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_1" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel_1">BATMAN BEGINS</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  Batman Begins is a 2005 superhero film directed by Christopher Nolan and written by Nolan and David S. Goyer. Based on the DC Comics character Batman, it stars Christian Bale, Michael Caine, Liam Neeson, Katie Holmes, Gary Oldman, Cillian Murphy, Tom Wilkinson, Rutger Hauer, Ken Watanabe, and Morgan Freeman. The film reboots the Batman film series, telling the origin story of Bruce Wayne from the death of his parents to his journey to become Batman and his fight to stop Ra's al Ghul and the Scarecrow from plunging Gotham City into chaos.
                </p>
                <p>
                  Following the poor reception of Batman Forever (1995) and Batman & Robin (1997), a series of unsuccessful attempts were made to resurrect Batman on the big screen which put the Batman film series on hold for nearly eight years. Then, in early 2003, Nolan and Goyer began work on Batman Begins. Aiming for a darker, more realistic tone compared to the previous films, a primary goal for their vision was to engage the audience's emotional investment in both the Batman and Bruce Wayne identities of the lead character. The film, which was principally shot in the United Kingdom, Iceland and Chicago, relied heavily on traditional stunts and miniature effects, with computer-generated imagery being used in a minimal capacity compared to other action films. Comic book storylines such as The Man Who Falls, Batman: Year One and Batman: The Long Halloween served as inspiration.
                </p>
                <p>
                  Batman Begins opened on June 15, 2005, in the United States in 3,858 theaters. It grossed over $48 million in its opening weekend in North America, eventually grossing over $373 million worldwide. The film was met with highly positive reviews, with critics praising the tone, Bale's performance, action sequences, score, direction, and the emotional weight compared to previous Batman films. Often cited as one of the most influential films of the 2000s, Batman Begins was nominated for the Academy Award for Best Cinematography and three BAFTA awards. It was followed by The Dark Knight (2008) and The Dark Knight Rises (2012), with the three films constituting The Dark Knight Trilogy.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="card">
      <a id="link2HCH0002">Director: Christopher Nolan</a>
      <img class="largeMoviePoster" src="public/minImages/bat_man_2.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">THE DARK KNIGHT</h2>
        <p class="card-text">When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must fight injustice.</p>
        
                <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_2">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_2" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel_2">THE DARK KNIGHT</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  The Dark Knight is a 2008 superhero film directed, produced, and co-written by Christopher Nolan. Based on the DC Comics character Batman, the film is the second installment of Nolan's The Dark Knight Trilogy and a sequel to 2005's Batman Begins, starring Christian Bale and supported by Michael Caine, Heath Ledger, Gary Oldman, Aaron Eckhart, Maggie Gyllenhaal, and Morgan Freeman. In the film, Bruce Wayne / Batman (Bale), Police Lieutenant James Gordon (Oldman) and District Attorney Harvey Dent (Eckhart) form an alliance to dismantle organized crime in Gotham City, but are menaced by an anarchistic mastermind known as the Joker (Ledger), who seeks to undermine Batman's influence and throw the city into anarchy.
                </p>
                <p>
                  Nolan's inspiration for the film was the Joker's comic book debut in 1940, the 1988 graphic novel The Killing Joke, and the 1996 series The Long Halloween, which retold Harvey Dent's origin. The "Dark Knight" nickname was first applied to Batman in Batman #1 (1940), in a story written by Bill Finger.[4][5] The Dark Knight was filmed primarily in Chicago, as well as in several other locations in the United States, the United Kingdom, and Hong Kong. The film was the first mainstream feature to partially utilize IMAX 70 mm cameras, with Nolan using them for 28 minutes of the film, including the Joker's first appearance. Warner Bros. initially created a viral marketing campaign for The Dark Knight, developing promotional websites and trailers highlighting screenshots of Ledger as the Joker. Ledger died on January 22, 2008, some months after he completed filming and six months before the film's release from a toxic combination of prescription drugs, leading to intense attention from the press and movie-going public.
                </p>
                <p>
                  Upon its release on July 18, 2008, The Dark Knight achieved significant critical and commercial success. With over $1 billion in revenue worldwide, it became the highest-grossing film of 2008 and the fourth-highest-grossing film at the time of its release; it also set the record for highest-grossing domestic opening with $158 million, a record it held for three years.[6][7] At the 81st Academy Awards, the film received eight nominations; it won the award for Best Sound Editing and Ledger was posthumously awarded Best Supporting Actor.[8] The Dark Knight is considered one of the best films of its decade and one of the best superhero films ever made. The Dark Knight Rises, the final film in the trilogy, was released on July 20, 2012.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="card">
      <a id="link2HCH0003">Director: Christopher Nolan</a>
      <img class="largeMoviePoster" src="public/minImages/bat_man_3.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">THE DARK KNIGHT RISES</h2>
        <p class="card-text">Eight years after the Joker's reign of anarchy, Batman is forced from his exile to save Gotham City from powerful boss.</p>
        
                <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_3">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_3" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel_3">THE DARK KNIGHT RISES</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  The Dark Knight Rises is a 2012 superhero film directed by Christopher Nolan, who co-wrote the screenplay with his brother Jonathan Nolan, and the story with David S. Goyer.[5] Based on the DC Comics character Batman, it is the final installment in Nolan's The Dark Knight Trilogy, and the sequel to The Dark Knight (2008). Christian Bale stars as Bruce Wayne / Batman, alongside Michael Caine, Gary Oldman, Anne Hathaway, Tom Hardy, Marion Cotillard, Joseph Gordon-Levitt, and Morgan Freeman. Eight years after the events of The Dark Knight, the revolutionary Bane forces Bruce Wayne to resume his role as Batman and save Gotham City from nuclear destruction. 
                </p>
                <p>
                  Christopher Nolan was hesitant about returning to the series for a third film, but agreed after developing a story with his brother and Goyer that he felt would conclude the series on a satisfactory note. Nolan drew inspiration from Bane's comic book debut in the 1993 "Knightfall" storyline, the 1986 series The Dark Knight Returns, and the 1999 storyline "No Man's Land". Filming took place from May to November 2011 in locations including Jodhpur, London, Nottingham, Glasgow, Los Angeles, New York City, Newark, and Pittsburgh. Nolan used IMAX 70 mm film cameras for much of the filming, including the first six minutes of the film, to optimize the quality of the picture. A vehicle variation of the Batplane and Batcopter termed the "Bat", an underground prison set, and a new Batcave set were created specifically for the film. As with The Dark Knight, viral marketing campaigns began early during production. When filming concluded, Warner Bros. refocused its campaign: developing promotional websites, releasing the first six minutes of the film, screening theatrical trailers, and sending out information regarding the film's plot.
                </p>
                <p>
                  The Dark Knight Rises premiered in New York City on July 16, 2012. The film was released in the United States and the United Kingdom on July 20, 2012. The film received positive reviews, with praise being directed toward the performances, action sequences, screenplay, direction, musical score, and emotional depth, with many critics deeming it a satisfying conclusion to the trilogy. The consensus at Rotten Tomatoes calls it "ambitious, thoughtful, and potent". The film grossed over $1 billion worldwide, making it the second film in the Batman film series to earn $1 billion. In addition to being Nolan's highest-grossing film, it became the seventh-highest-grossing film of all time at the time of its release, as well as the third-highest-grossing film of 2012.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="card">
      <a id="link2HCH0004">Director: Jon Favreau</a>
      <img class="largeMoviePoster" src="public/minImages/iron_man_1.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">IRON MAN</h2>
        <p class="card-text">After being held captive in an Afghan cave, billionaire engineer Tony Stark creates a unique weaponized suit of armor to fight evil.</p>

                        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_4">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_4" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel_4">IRON MAN</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  Iron Man is a 2008 American superhero film based on the Marvel Comics character of the same name. Produced by Marvel Studios and distributed by Paramount Pictures,[N 1] it is the first film in the Marvel Cinematic Universe. It was directed by Jon Favreau from a screenplay by the writing teams of Mark Fergus and Hawk Ostby, and Art Marcum and Matt Holloway, and stars Robert Downey Jr. as Tony Stark / Iron Man alongside Terrence Howard, Jeff Bridges, Shaun Toub, and Gwyneth Paltrow. In the film, following his escape from captivity by a terrorist group, world famous industrialist and master engineer Tony Stark builds a mechanized suit of armor and becomes the superhero Iron Man.
                </p>
                <p>
                  A film featuring the character was in development at Universal Pictures, 20th Century Fox, and New Line Cinema at various times since 1990, before Marvel Studios reacquired the rights in 2006. Marvel put the project in production as its first self-financed film, with Paramount Pictures distributing. Favreau signed on as director in April 2006, and faced opposition from Marvel when trying to cast Downey in the title role; the actor was signed in September. Filming took place from March to June 2007, primarily in California to differentiate the film from numerous other superhero stories that are set in New York City-esque environments. During filming, the actors were free to create their own dialogue because pre-production was focused on the story and action. Rubber and metal versions of the armor, created by Stan Winston's company, were mixed with computer-generated imagery to create the title character.
                </p>
                <p>
                  Iron Man premiered in Sydney on April 14, 2008, and was released in the United States on May 2, as the first film in Phase One of the MCU. It grossed over $585 million on its $140 million budget, becoming the eighth-highest grossing film of 2008. The film was praised by critics for its acting (particularly Downey's), screenplay, direction, visual effects, and action sequences. It was selected by the American Film Institute as one of the ten best films of 2008 and received two nominations at the 81st Academy Awards for Best Sound Editing and Best Visual Effects. It was followed by two sequels, Iron Man 2 in 2010 and Iron Man 3 in 2013.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="card">
      <a id="link2HCH0005">Director: Jon Favreau</a>
      <img class="largeMoviePoster" src="public/minImages/iron_man_2.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">IRON MAN 2</h2>
        <p class="card-text">With the world now aware of his identity as Iron Man, Tony Stark must contend with both his declining health and a vengeful mad man.</p>

                                <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_5">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_5" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel_5">IRON MAN 2</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  Iron Man 2 is a 2010 American superhero film based on the Marvel Comics character Iron Man. Produced by Marvel Studios and distributed by Paramount Pictures,[N 1] it is the sequel to Iron Man (2008) and the third film in the Marvel Cinematic Universe (MCU). Directed by Jon Favreau and written by Justin Theroux, the film stars Robert Downey Jr. as Tony Stark / Iron Man alongside Gwyneth Paltrow, Don Cheadle, Scarlett Johansson, Sam Rockwell, Mickey Rourke, and Samuel L. Jackson. Six months after Iron Man, Tony Stark resists calls from the United States government to hand over the Iron Man technology, which is causing his declining health. Meanwhile, Russian scientist Ivan Vanko uses his own version of the technology to pursue a vendetta against the Stark family.
                </p>
                <p>
                  Following the critical and commercial success of Iron Man in May 2008, Marvel Studios announced and immediately set to work on producing a sequel. In July, Theroux was hired to write the script and Favreau was signed to return as director. Downey, Paltrow, and Jackson were set to reprise their roles from Iron Man, while Cheadle was brought in to replace Terrence Howard in the role of James Rhodes. In the early months of 2009, Rourke (Vanko), Rockwell, and Johansson filled out the supporting cast. Filming took place from April to July 2009, mostly in California like the first film except for a key sequence in Monaco. Unlike its predecessor, which mixed digital and practical effects, the sequel primarily relied on computer-generated imagery to create the Iron Man suits.
                </p>
                <p>
                  Iron Man 2 premiered at the El Capitan Theatre on April 26, 2010, and was released in the United States on May 7, as part of Phase One of the MCU. The film received generally positive reviews for Downey's performance as well as the action sequences, musical score, and visual effects, but many critics deemed it to be inferior to the first film and criticized the villain and pacing. The sequel grossed over $623.9 million at the worldwide box office, making it the seventh-highest-grossing film of 2010. It received an Academy Award nomination for Best Visual Effects. A third installment of the series, Iron Man 3, was released on May 3, 2013.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="card">
      <a id="link2HCH0006">Director: Shane Black</a>
      <img class="largeMoviePoster" src="public/minImages/iron_man_3.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">IRON MAN 3</h2>
        <p class="card-text">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>

                                <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_6">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_6" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel_6">IRON MAN 3</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  Iron Man 3 is a 2013 American superhero film based on the Marvel Comics character Iron Man, produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures.[N 1] It is the sequel to Iron Man (2008) and Iron Man 2 (2010), and the seventh film in the Marvel Cinematic Universe (MCU). The film was directed by Shane Black from a screenplay he co-wrote with Drew Pearce, and stars Robert Downey Jr. as Tony Stark / Iron Man alongside Gwyneth Paltrow, Don Cheadle, Guy Pearce, Rebecca Hall, Stéphanie Szostak, James Badge Dale, Jon Favreau, and Ben Kingsley. In Iron Man 3, Tony Stark wrestles with the ramifications of the events of The Avengers during a national terrorism campaign on the United States led by the mysterious Mandarin.
                </p>
                <p>
                  After the release of Iron Man 2 in May 2010, director Favreau chose not to return for a third film. Black was hired to write and direct the sequel in February 2011, working with Pearce to make the script more character-centric, focus on thriller elements, and use concepts from Warren Ellis's "Extremis" comic book story arc. The film's supporting cast, including Kingsley, Pearce, and Hall, were brought on throughout April and May 2012. Filming took place from May 23 to December 17, 2012, primarily at EUE/Screen Gems Studios in Wilmington, North Carolina. Additional filming took place around North Carolina as well as in Florida, Los Angeles, and China; an extended version of the film specifically for Chinese audiences was created. Seventeen companies provided the film's visual effects.
                </p>
                <p>
                  Iron Man 3 premiered at the Grand Rex in Paris on April 14, 2013, and released in the United States on May 3, as the first film in Phase Two of the MCU. It received praise from critics for its performances, visual effects, action sequences, humor, and Brian Tyler's musical score, while critics and audiences gave a mixed reception to its Mandarin plot twist. The film was a box office success, grossing over $1.2 billion worldwide making it the second highest-grossing film of 2013 and the sixteenth film to gross over $1 billion. At the time it also became the fifth highest-grossing film of all time while its opening weekend became the sixth-highest of all time. The film received Best Visual Effects nominations at the Academy Awards and the BAFTA Awards.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="card">
      <a id="link2HCH0007">Director: Doug Liman</a>
      <img class="largeMoviePoster" src="public/minImages/bourne_1.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">THE BOURNE IDENTITY</h2>
        <p class="card-text">A man is picked up by a fishing boat, bullet-riddled and suffering from amnesia, he begins to find out.</p>

                                        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_7">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal_7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_7" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel_7">THE BOURNE IDENTITY</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  The Bourne Identity is a 2002 American action-thriller film based on Robert Ludlum's 1980 novel of the same name. It stars Matt Damon as Jason Bourne, a man suffering from extreme memory loss and attempting to discover his true identity amidst a clandestine conspiracy within the Central Intelligence Agency (CIA). The film also features Franka Potente, Chris Cooper, Clive Owen, Julia Stiles, Brian Cox, and Adewale Akinnuoye-Agbaje. The first installment in the Jason Bourne film series, it was followed by The Bourne Supremacy (2004), The Bourne Ultimatum (2007), The Bourne Legacy (2012), and Jason Bourne (2016).
                </p>
                <p>
                  The film was co-produced and directed by Doug Liman and adapted for the screen by Tony Gilroy and William Blake Herron. Although Robert Ludlum died in 2001, he is credited as an executive producer alongside Frank Marshall. Universal Pictures released the film to theatres in the United States on June 14, 2002. The film opened to critical and commercial success, grossing $214 million on a $60 million budget.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="card">
      <a id="link2HCH0008">Director: Paul Greengrass</a>
      <img class="largeMoviePoster" src="public/minImages/bourne_2.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">THE BOURNE SUPREMACY</h2>
        <p class="card-text">When Jason Bourne is framed for a CIA operation, he must fight back for his girlfriend's life and his pease life. </p>

                                       <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_8">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal_8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_8" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel_8">THE BOURNE SUPREMACY</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  The Bourne Supremacy is a 2004 American action-thriller film featuring Robert Ludlum's Jason Bourne character. Though it takes the name of the second Bourne novel (1986), its plot is entirely different. The film was directed by Paul Greengrass from a screenplay by Tony Gilroy. It is the second installment in the Jason Bourne film series. It is preceded by The Bourne Identity (2002) and followed by The Bourne Ultimatum (2007), The Bourne Legacy (2012), and Jason Bourne (2016).
                </p>
                <p>
                  The Bourne Supremacy continues the story of Jason Bourne, a former CIA assassin suffering from psychogenic amnesia.[3] Bourne is portrayed by Matt Damon. The film focuses on his attempt to learn more of his past as he is once more enveloped in a conspiracy involving the CIA and Operation Treadstone. The film also stars Brian Cox as Ward Abbott, Joan Allen as Pamela Landy and Julia Stiles as Nicky Parsons.
                </p>
                <p>
                  Universal Pictures released the film to theaters in the United States on July 23, 2004, to positive reviews and commercial success, grossing $290 million on a $75 million budget.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="card">
      <a id="link2HCH0009">Director: Paul Greengrass</a>
      <img class="largeMoviePoster" src="public/minImages/bourne_3.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">THE BOURNE ULTIMATUM</h2>
        <p class="card-text">Jason Bourne searches for the origins of his life as a trained killer.</p>

                                               <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_9">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal_9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_9" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel_9">THE BOURNE ULTIMATUM</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  The Bourne Ultimatum is a 2007 American action-thriller film directed by Paul Greengrass loosely based on the 1990 novel of the same name by Robert Ludlum.[4] The screenplay was written by Tony Gilroy, Scott Z. Burns and George Nolfi and based on a screen story of the novel by Gilroy. The Bourne Ultimatum is the third installment in the Jason Bourne film series, being preceded by The Bourne Identity (2002) and The Bourne Supremacy (2004). The fourth film, The Bourne Legacy, was released in August 2012, without the involvement of Damon, and the fifth film (a direct sequel to Ultimatum), Jason Bourne, was released in July 2016.
                </p>
                <p>
                  Matt Damon reprises his role as Ludlum's signature character, former CIA assassin and psychogenic amnesiac Jason Bourne.[5] In the film, Bourne continues his search for information about his past before he was part of Operation Treadstone and becomes a target of a similar assassin program.
                </p>
                <p>
                  The Bourne Ultimatum was produced by Universal Pictures and was released on August 3, 2007, and grossed a total of $444.1 million worldwide becoming, at the time, Damon's highest-grossing film with him as the lead. The film received acclaim from critics, who considered it to be the best film in the series, and praised the performances, action sequences, sound design, story, stunts, camerawork and John Powell's musical score. It was chosen by National Board of Review as one of the top ten films of 2007 and went on to win all three of its nominations at the 80th Academy Awards: Best Film Editing, Best Sound Mixing and Best Sound Editing.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="card">
      <a id="link2HCH00010">Director: Paul Greengrass</a>
      <img class="largeMoviePoster" src="public/minImages/bourne_5.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">JASON BOURNE</h2>
        <p class="card-text">The CIA's most dangerous former operative is drawn out of hiding to uncover past.</p>

                                                       <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal_10">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal_10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_10" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel_10">JASON BOURNE</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>
                  Jason Bourne is a 2016 American action-thriller film directed by Paul Greengrass and written by Greengrass and Christopher Rouse. It is the fifth installment of the Bourne film series and a direct sequel to The Bourne Ultimatum (2007). Matt Damon reprises his role as the main character, former CIA assassin Jason Bourne. In addition, the film stars Tommy Lee Jones, Alicia Vikander, Julia Stiles, Vincent Cassel, Riz Ahmed, Ato Essandoh and Scott Shepherd.
                </p>
                <p>
                  The character Aaron Cross, from The Bourne Legacy (2012), does not appear in the film because director Greengrass wanted to focus on the title character, and because actor Jeremy Renner was unable to participate due to scheduling conflicts. In Jason Bourne, Bourne remains on the run from CIA hit squads as he tries to uncover hidden truths about his father, while CIA director Robert Dewey (Jones) orders the head of cyber-security Heather Lee (Vikander) to hunt him down. Principal photography on the film commenced on September 8, 2015.
                </p>
                <p>
                  Jason Bourne premiered in London on July 11, 2016, and was theatrically released in the United States by Universal Pictures on July 29, 2016. A 3D version was also released in limited Asian countries, namely China, India, the Philippines and Vietnam.[4] The film received mixed reviews and grossed $415 million worldwide.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


</div>


</div>



    <script src="/public/js/vendor.min.js">
    </script>
</body>

</html>